.container{
    padding:0 15vw 10vh 15vw;
}
.container h1, h2{
    padding-bottom: 3vh;
}
thead{
    background-color: #7d695e;
    color: whitesmoke;
    text-align: center;
    font-weight: 500;
    font-size: large;
}

table tr:hover{
    background-color: #7d695e;
    color: whitesmoke;
}

.div-inline{
    display: flex;
    flex-flow: row wrap;
    align-items: right;
}

input{
    max-width: 200px;
    margin-left: auto;
    align-items: center;
}

button{
    margin-right: auto;
    margin-left: 0.8vw;
}

#wgt{
    margin-left: 20px;
}

.btn-outline-dark{
    border-color: #fff;
    border-width: 2px;
    border-radius: 20%;
}

.btn-outline-dark:hover{
    background-color: #82D2FF;
    color: whitesmoke;
    border-color: #82D2FF;
}

@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
* {
    font-family: "Nunito", sans-serif;
  }

.order-3{
    margin-left: 3%;
}
nav img{
    width:150px;
}








body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #82D2FF;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #82D2FF; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

