{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'livfit/tables.css' %}">
    <link rel="stylesheet" href="{% static 'livfit/nav2.css' %}">

    <title>Exercise Info</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark" style="padding: 20px 5% ">
    <img src="{% static 'livfit/livFit.png' %}" alt="" width="50px">
    <a class="navbar-brand" href="#">LivFit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
             <a class="nav-item nav-link " href="{% url 'livfitprofile' %}">Home</a>
            <a class="nav-item nav-link active" href="{% url 'exercise' %}">Exercise</a>
            <a class="nav-item nav-link " href="{% url 'food' %}">Food</a>
            <a class="nav-item nav-link" href="https://durves3112.github.io/game/">Game</a>
            <a class="nav-item nav-link" href="{% url 'team' %}">About Us</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</nav>
<main role="main" class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}"> {{ message }} </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</main>
<br><br>
<section class="mainbody">
    <div class="container">
        <h1 style="color: #82D2FF;margin: auto">Exercise Table</h1>
        <h2 style="text-align: center;">You have burned
            <span>{{ total_exercise }}</span> calories today
        </h2>
        <div style="text-align: center">
            <h4 class="text">{{ status_text }}</h4>
            <p>Tell us about your workout..</p>
            <div class="div-inline input" style="text-align: center; margin: 30px 35%">
                <form id="exercise" action="{% url 'add-exercise' %}" method="post">
                    {% csrf_token %}
                    <input type="text" id="output" class="form-control" name='exercise_text' placeholder="Add Exercise"
                           aria-label="Username"
                           aria-describedby="basic-addon1">

                    {#                <input type="text" id="output" name='exercise_text' placeholder="Add what exercise you did or Tap on mic..."/>#}
                </form>
                <button type="button" class="btn btn-outline-dark" style="color:#fff" onclick="runSpeechRecognition()">
                    Speak
                </button>
                <span id="action"></span>
                <script>
                    function runSpeechRecognition() {
                        // get output div reference
                        var output = document.getElementById("output");
                        // get action element reference
                        var action = document.getElementById("action");
                        // new speech recognition object
                        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
                        var recognition = new SpeechRecognition();

                        // This runs when the speech recognition service returns result
                        recognition.onresult = function (event) {
                            var transcript = event.results[0][0].transcript;

                            output.value = transcript;
                            output.classList.remove("hide");
                            document.getElementById('exercise').submit()
                        };

                        // start recognition
                        recognition.start();
                    }
                </script>
            </div>
            <br><br>
        </div>
        <table class="container" id="tblCustomers">
            <thead>
            <tr>
                <th><h1>Date &nbsp; {{ today }}</h1></th>
                <th><h1>Exercise</h1></th>
                <th><h1>Duration</h1></th>
                <th><h1>Calories</h1></th>
            </tr>
            </thead>
            <tbody>
            {% for exercise_table in exercise_tables %}
                <tr>
                    <td>{{ exercise_table.time|date:"P" }}</td>
                    <td>{{ exercise_table.exercise }}</td>
                    <td>{{ exercise_table.duration }}</td>
                    <td>{{ exercise_table.calories }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br>

        <div id="b">
            <input type="button" id="btnExport" class="btn btn-outline-dark " style="color:#fff" value="Get PDF"
                   onclick="Export()"/>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
        <script type="text/javascript">
            function Export() {
                html2canvas(document.getElementById('tblCustomers'), {
                    onrendered: function (canvas) {
                        var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 500
                            }]
                        };
                        pdfMake.createPdf(docDefinition).download("Table.pdf");
                    }
                });
            }
        </script>
    </div>
</section>

<section class="analysis">
    <div class="container">
        <div id="we_want" style="width: 50%; margin: auto">
            {% if total_exercise > 0 %}
                <div class="chart-wrapper ">
                    <center>
                        <h2>Exercise Chart</h2>
                    </center>
                    <canvas id="myChart1"></canvas>
                </div>
            {% endif %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
            <script>
                let ctx1 = document.getElementById("myChart1").getContext("2d");
                let colorHex1 = ["#FB3640", "#EFCA08", "#43AA8B", "#253D5B", "#ff0000", "#0000ff", "#73ffff", "#fff000", "#f0f0f0"];

                let myChart1 = new Chart(ctx1, {
                    type: "pie",
                    data: {
                        datasets: [
                            {
                                data: {{data|safe}},
                                backgroundColor: colorHex1,
                            },
                        ],
                        labels: {{labels|safe}},
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: "top",
                        },
                        plugins: {
                            datalabels: {
                                color: "#fff",
                                anchor: "end",
                                align: "start",
                                offset: -10,
                                borderWidth: 5,
                                borderColor: "#fff",
                                borderRadius: 25,
                                backgroundColor: (context) => {
                                    return context.dataset.backgroundColor;
                                },
                                font: {
                                    weight: "bold",
                                    size: "10",
                                },
                                formatter: (value) => {
                                    return value + " %";
                                },
                            },
                        },
                    },
                });
            </script>
        </div>
    </div>
    <br><br><br>
    <div class="container" style="width: 60%; margin: 50px auto;">
        <h2>Activity bar graph</h2>
        <canvas id="canvas"></canvas>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script type="text/javascript">
        const ctx = document.getElementById('canvas').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{labels|safe}},
                datasets: [{
                    label: 'Calories',
                    data: {{data|safe}},
                    backgroundColor: "#ff335e",
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

</section>

<footer style="background-image: linear-gradient(to bottom right, #003747, #000); padding:10px 0;margin-top: 50px">
    <a class="nav-link active" href="{% url 'livfithome' %}" style="text-align:center;color: #fff;">© Team WCE Bazooka
        '22</a>
</footer>


{#<script>html2canvas.js</script>#}

</body>
</html>
<body>
